@media only screen and (min-width: 480px) {
  .modal-dialog {
    margin: 0 auto;
    max-width: 70vw;
  }

  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (max-width: 480px) {
  .modal-dialog {
    margin: 0 auto;
    max-width: 80vw;
  }

  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 768px) {
  .modal-dialog {
    max-width: 50vw;
    height: auto;
    text-align: center;
  }

  .card-columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

.modal-content {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}

.lightbox .lb-image {
  border: none !important;
}

.lb-data {
  position: relative;
  .lb-details {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    span.lb-caption.animation.fadeIn {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      font-size: 1.2em;
      text-shadow: 0 0 0.03em #111;
      color: #eee;
      text-align: center;
    }
  }
}
