<div class="container row justify-content-center">
  <form [formGroup]="profileSettingsForm"
    class="col-md-8 col-12 register-form row justify-content-center rounded border mt-5 py-3">
    <div class="col-md-4 col-12 rounded border py-3 d-flex flex-column justify-content-between">
      <div>
        <img class="img w-100 h-auto preview-image" [src]="photoUrl || loggedUserData.photoLink" alt="">
      </div>
      <div class="form-group form-group-no-border uploadPhoto m-0 p-0 mt-2">
        <button class="btn  btn-outline-light uploadImage w-100 m-auto">
          Upload New Photo
          <input (change)="onPhotoChange($event)" accept='image/*' type="file" id="profilePicture">
        </button>
      </div>
    </div>

    <div class="col-md-8 col-12 border rounded py-3">
      <div class="input-group form-group-no-border border-bottom mb-4 rounded"
        [ngClass]="{valid: profileSettingsForm.controls['newUsername'].value && profileSettingsForm.controls['newUsername'].valid}">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="nc-icon nc-circle-10"></i>
          </span>
        </div>

        <input formControlName="newUsername" type="text" class="form-control form-control-success"
          placeholder="Enter a new username (Optional)" maxlength="15">
        <div class="form-control-feedback"
          *ngIf="profileSettingsForm.controls['newUsername'].touched && profileSettingsForm.controls['newUsername'].errors?.minlength">
          Username must have at least 3 symbols.</div>
      </div>

      <div class="input-group form-group-no-border border-bottom mb-4 rounded"
        [ngClass]="{valid: profileSettingsForm.controls['newEmail'].value && profileSettingsForm.controls['newEmail'].valid}">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="nc-icon nc-email-85"></i>
          </span>
        </div>

        <input formControlName="newEmail" type="email" class="form-control" placeholder="Enter a new email (Optional)"
          maxlength="20">
        <div class="form-control-feedback"
          *ngIf="profileSettingsForm.controls['newEmail'].touched && profileSettingsForm.controls['newEmail'].errors?.email">
          Invalid email.</div>
      </div>

      <div class="input-group form-group-no-border border-bottom mb-4 rounded"
        [ngClass]="{valid: profileSettingsForm.controls['newPassword'].value && profileSettingsForm.controls['newPassword'].valid}">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="nc-icon nc-key-25"></i>
          </span>
        </div>
        <input formControlName="newPassword" type="password" class="form-control"
          placeholder="Enter a new password (Optional)" maxlength="15">
        <div class="form-control-feedback"
          *ngIf="profileSettingsForm.controls['newPassword'].touched && profileSettingsForm.controls['newPassword'].errors?.minlength">
          Password must have at least 3 symbols.</div>
      </div>

      <div class="input-group form-group-no-border border-bottom mb-4 rounded"
        [ngClass]="{valid: profileSettingsForm.controls['repeatNewPassword'].value &&  !profileSettingsForm.hasError('notSame')}">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="nc-icon nc-key-25"></i>
          </span>
        </div>
        <input [disabled]="true" formControlName="repeatNewPassword" type="password" class="form-control"
          placeholder="Repeat your new password" maxlength="15">
        <div class="form-control-feedback"
          *ngIf="profileSettingsForm.controls['newPassword'].touched && profileSettingsForm.hasError('notSame')">
          Please make sure your new passwords match.</div>
      </div>

      <div class="row justify-content-center mt-5">
        <button (click)="updateUser()" [disabled]="!profileSettingsForm.valid && !photo"
          [ngClass]="{valid:profileSettingsForm.valid}" class="btn btn-success col-md-5 col-11 my-1 align-self-end">Save
          Changes</button>
        <button class="btn btn-default col-md-5 col-11 align-self-end  my-1">Cancel</button>
      </div>
    </div>

  </form>
</div>

<button (click)="deleteUser()" class="btn btn-danger mt-5 ml-auto delete">Delete Account</button>