input {
  font-weight: bold;
}

.user-info {
  justify-content: center;
}

label {
  color: #fff;
}

.valid {
  box-shadow: 0 0 0 0.15em rgba(68, 196, 112, 1);
}

.form-actions {
  justify-content: center;
}

.uploadImage.btn {
  &:hover {
    cursor: default;
  }

  position: relative;
  // width: 100%;

  #profilePicture {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    height: auto;
  }
}

.btn-outline-light {
  color: #000;
  border-color: #000;

  &:active {
    box-shadow: 0 0 0.2em #000;
  }
}

.btn-default {
  background: #bbb;
  border-color: #bbb;
}

.delete {
  position: absolute;
  bottom: 0%;
  right: 5%;
}

.border-success {
  box-shadow: 0 0 0 0.05em rgba(68, 196, 112, 0.5);
}

.border-warning {
  box-shadow: 0 0 0 0.05em rgba(255, 68, 112, 0.5);
}

.preview-image {
  border-radius: 0.2em;
}
