.card {
  position: relative;
  opacity: 0.95;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:hover * {
    opacity: 1;
  }
}

.card-footer {
  opacity: 0;
  transition: 0.2s;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
}

.post-title {
  text-align: center;
}
