input {
  font-weight: bold;
  color: #000;
}

label {
  color: #fff;
}

.valid {
  box-shadow: 0 0 0 0.2em rgba(68, 255, 112, 1);
}

.form-actions {
  justify-content: center;
}

.uploadImage.btn {
  &:hover {
    cursor: default;
  }

  position: relative;

  #profilePicture {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    height: auto;
  }
}

.btn-outline-light {
  color: #000;
  border-color: #000;
}
.selected {
  background: #000;
  color: #fff;
}

::placeholder {
  color: #000;
  font-weight: 100;
}
