.page-header-xs {
  background: rgb(68, 255, 112);
  background: linear-gradient(0deg, rgba(68, 255, 112, 1) 0%, rgba(0, 0, 0, 1) 75%);
}

.bold {
  font-weight: bold;
  font-size: 1.1em;
  color: #000;
}

.profile-photo {
  &:hover {
    cursor: pointer;
  }
}

.card {
  border-radius: 0.25rem;

  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }
}
