<span class="close" (click)="this.closeDetails()"><i class="nc-icon nc-simple-remove"></i></span>
<div class="row post m-0 p-2">
  <div class="col-6 post-photo-container m-0 p-0">
    <img (click)="openPostPhoto()" class="post-photo" src="{{post.photoLink}}" alt="...">

    <div class="d-flex flex-wrap p-1 m-1">
      <p class="mx-1 my-auto" (click)="likePost()">
        <i class="nc-icon nc-favourite-28 post-like" [ngClass]="{liked: post.liked}"></i>
      </p>
      <p class="likes mx-1 my-auto">{{post.likes}} likes</p>
      <p class="my-auto ml-auto mr-0"> <button *ngIf="this.loggedUserData && post.creator.id===this.loggedUserData.id"
          (click)="editPost()" class="btn btn-round btn-sm  btn-warning">edit</button></p>
      <p class="mx-1 my-auto mr-0"> <button *ngIf="this.loggedUserData && post.creator.id===this.loggedUserData.id"
          (click)="deletePost()" class="btn btn-round btn-sm btn-danger">delete</button>
      </p>
    </div>


    <div class="form-group m-0 p-0" *ngIf="this.loggedUserData">
      <textarea id="comment" class="form-control border-0" [(ngModel)]="commentContent"
        placeholder="Write a comment..."></textarea>
      <button (click)="createComment()" [disabled]="commentContent===''" class="btn btn-success w-100">Comment</button>
    </div>
  </div>
  <div class="col-6 m-0 p-0 px-3 post-info d-flex flex-column justify-between">
    <div>
      <h6 class="mb-3 p-2">{{post.title}}</h6>
      <p class="text-left">
        <img src="{{post.creator.photoLink}}" alt="Circle Image" class="img img-circle my-auto post-creator-photo">
        <a class="my-auto font-weight-bold ml-2" [routerLink]="['/profile', post.creator.id]">{{post.creator.username}}
        </a>
        <span class="description"> {{post.description}}</span>
        <span class="time d-flex justify-between">
          <span class="d-block mr-auto">
            <i class="nc-icon nc-pin-3 "></i>
            {{post.location}}
          </span>
          <span>
            {{post.creationDate | date:'dd/MMM/yyyy HH:mm'}}
          </span>
        </span>
      </p>

    </div>
    <div class="comments my-4 mx-auto container p-0 align-self-end">
      <div class="my-1 border rounded p-0" *ngFor="let comment of comments">
        <div class="row m-0 p-1">
          <div class="col-12 row my-auto justify-content-between">
            <span>
              <img src="{{comment.creator.photoLink}}" alt="Circle Image" class="commenter-img img-circle">

              <a class="commenter-username m-auto pl-1"
                [routerLink]="['/profile', comment.creator.id]">{{comment.creator.username}}</a>
            </span>
            <span class="row justify-content-end">
              <button class="btn btn-link btn-sm comment-like m-0 p-0" (click)="likeComment(comment)">
                <i class="nc-icon nc-favourite-28" [ngClass]="{liked: comment.liked}"></i>
              </button>
              <button *ngIf="this.loggedUserData && comment.creator.id === this.loggedUserData.id"
                (click)="editComment(comment)" class="btn btn-link btn-sm text-warning m-0 p-0">&#9998;</button>
              <button *ngIf="this.loggedUserData && comment.creator.id === this.loggedUserData.id"
                (click)="deleteComment(comment)" class="btn btn-link btn-sm text-danger m-0 p-0">&#10006;</button>
            </span>
          </div>

          <p class="col-12 text-justify comment m-0">
            {{comment.content}}
          </p>

          <div class="col-12 text-right time">{{comment.creationDate | date:'medium'}} </div>
        </div>
      </div>
    </div>

  </div>

</div>