<div class="wrapper">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <p class="greeting">Welcome</p>
            <form class="register-form" [formGroup]="loginForm" (ngSubmit)="login()">
              <label>Email or Username</label>
              <div class="input-group form-group-no-border rounded"
                [ngClass]="{valid: loginForm.controls.email.valid}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-circle-10"></i>
                  </span>
                </div>

                <input formControlName="email" type="text" class="form-control form-control-success"
                  placeholder="email or username" maxlength="30">
                <div class="form-control-feedback"
                  *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.required">
                  Email or Username is required</div>
                <div class="form-control-feedback"
                  *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.minlength">
                  Email or Username must have at least 3 symbols.</div>
              </div>

              <label>Password</label>
              <div class="input-group form-group-no-border rounded" [ngClass]="{valid: loginForm.controls.password.valid}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>
                <input formControlName="password" type="password" class="form-control" placeholder="Password">
                <div class="form-control-feedback"
                  *ngIf="loginForm.controls['password'].touched && loginForm['controls'].password.errors?.required">
                  Password is required.</div>
                <div class="form-control-feedback"
                  *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.minlength">
                  Password must have at least 3 symbols.</div>
              </div>

              <button [disabled]="!loginForm.valid" class="btn btn-block btn-success"  [ngClass]="{valid: loginForm.valid}" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>