<div class="container p-0 m-0">
  <h3 class="text-center">{{message}}!</h3>
  <p class="row justify-content-center m-3">
    <button type="button" class="btn btn-warning col-3 mx-1" (click)="accept()">Yes</button>
    <button type="button" class="btn btn-outline-default col-3 mx-1 fontsi " (click)="deny()">No</button>
  </p>
</div>