img {
  width: 60px;
  height: 60px;
}

.bold {
  font-weight: bold;
  color: #000;
}

.btn {
  width: 20%;
}

.profile-link{
  &:hover{
    cursor: pointer;
    text-shadow: 0 0 0.03em #54BCDA;
  }
}