<div class="row justify-content-around">
  <img src="{{user.photoLink}}" alt="Circle Image" class="img img-circle my-auto">
  <div class="col-12 col-md-7 my-auto">
    <a class="profile-link" (click)="showProfile(user.id)">
      <p class="text-center text-info font-weight-bold">{{user.username}}</p>
    </a>
    <div class="text-center py-2">
      <span class="mx-2"> <span class="bold">{{user.createdPostsCount}}</span> posts </span>
      <span class="mx-2"> <span class="bold">{{user.followersCount}}</span> followers </span>
      <span class="mx-2"> <span class="bold">{{user.followingCount}}</span> following </span>
    </div>
  </div>

  <button *ngIf="!user.isFollowed" class="col-9 col-md-3 btn btn-round btn-outline-success align-self-end my-auto"
    [disabled]="(loggedUser && loggedUser.id === user.id) || !loggedUser" (click)="followUser()">Follow</button>
  <button *ngIf="user.isFollowed" class="col-9 col-md-3 btn btn-round btn-outline-danger align-self-end my-auto"
    (click)="unFollowUser()">Followed</button>

</div>