<div class="container p-0 m-0">
  <h3 class="text-center">{{message}}!</h3>

  <form [formGroup]="confirmationForm" class="row justify-content-center my-2">
    <div class="col-11">
      <div class="input-group my-3">
        <input formControlName="currentPassword" type="password" class="form-control border"
          placeholder="Please enter your current password." maxlength="15">
      </div>
    </div>
    <div class="col-11 row justify-content-around">
      <button [disabled]="!this.confirmationForm.valid" type="button" class="btn btn-success mx-0 col-5" (click)="accept()">Confirm</button>
      <button type="button" class="btn btn-outline-default mx-0 col-5" (click)="deny()">Decline</button>
    </div>
  </form>
</div>