<div class="main" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div class="container-fluid green-line py-3 px-5 mb-5">
    <div class="row">
      <input (input)="search($event.target.value)" type="text" class="col-12 col-md-3 form-control ml-auto mr-5 font-weight-bold"
        placeholder="Search..." maxlength="50">
    </div>
  </div>

  <div class="row m-0 p-0 justify-content-center">
    <ul class="list-group-flush col-md-6 col-sm-12">
      <li class="list-group-item" *ngFor="let user of users">
        <app-user-info [loggedUser]="loggedUserData" [user]="user" (userFollow)="followUser($event)"
          (userUnFollow)="unFollowUser($event)">
        </app-user-info>
      </li>
    </ul>
  </div>
</div>