<div class="main">
  <div class="container-fluid green-line py-3 px-5 mb-5">
    <div *ngIf="loggedUserData" class="row">
      <button *ngIf="loggedUserData" (click)="createPost()"
        class="col-12 col-md-2  ml-auto btn btn-outline-success btn-create-post ">
        Create New Post</button>

      <select *ngIf="loggedUserData" (change)="selectPost()" [(ngModel)]="routeType"
        class="btn btn-outline-success btn-filter-posts mr-5 ml-1">
        <option value="home-world" class="text-white">Select Posts</option>
        <option value="created" class="text-white">Created</option>
        <option value="followers" class="text-white">Followers</option>
        <option value="following" class="text-white">Following</option>
      </select>
    </div>

    <div *ngIf="!loggedUserData" class="row">
      <button ngbTooltip="Please Login :)" placement="top-right" disabled *ngIf="!loggedUserData"
        class="col-12 col-md-2  ml-auto btn btn-outline-success btn-create-post">
        Create New Post</button>

      <select ngbTooltip="Please Login :)" placement="top-left" disabled *ngIf="!loggedUserData"
        class="btn btn-outline-success btn-filter-posts mr-5 ml-1">
        <option value="home-world" class="text-white">Select Posts</option>
      </select>
    </div>
  </div>

  <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
    <ngxMasonryItem *ngFor="let post of posts" class="masonry-item">
      <app-post-info [post]="post" (postDetailsShow)="showPostDetails($event)"></app-post-info>
    </ngxMasonryItem>
  </ngx-masonry>

  <div *ngIf="skip < limit" class="d-flex justify-content-center mt-5">
    <button class="btn btn-outline-success w-50" (click)="showMorePosts()">Show More Posts</button>
  </div>
</div>