.page-header {
  background: #fff;
}

.green-line {
  margin-top: 5rem;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(66, 255, 108, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.btn-create-post {
  color: #eee;
  border-color: #eee;
  background: rgba(0, 0, 0, 0.2);
}

.btn-filter-posts {
  color: #eee;
  border-color: #eee;
}

.masonry-item {
  width: 25vw;
}

ngx-masonry{
  margin: 0 auto;
}
